*{
    margin: 0;
    padding: 0;
}
/*---------HTML---------*/

html{
    scroll-behavior: smooth;
}

/*NAVBAR*/
.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 71px;
    margin-left: 10px;
    border: 3px solid white;
    border-radius: 50px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}
.nav-list{
    width: 50%;
    display: flex;
    align-items: center;
}

.nav-list li{
    list-style: none;
    padding: 26px 17px;
}
.nav-list li a{
    text-decoration: none;
    color: white;
}
.nav-list li a:hover{
    text-decoration: none;
    color: grey;
}

.rightNav{
    width: 50%;
    text-align: right;
}

#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;
}

/*---------About--------*/

.about{
    color: white;
    margin: 25%;
}


/*MAIN SECTION*/
.background{
    background: rgba(0,0,0,0.7) url('../img/backgroundGame.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

.firstSection{
    height: 100vh;
}

.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Michroma', sans-serif;
    max-width: 50%;
    margin: auto;
    height: 80%;
}

.firstHalf{
    width: 80%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.secondHalf{ 
    width: 30%;
}
.secondHalf img{
    width: 170%;
    border: 4px solid white;
    border-radius: 150px;
    display: block;
    margin: auto;
}

.text-big{
    font-size: 37px;
}
.text-small{
    font-size: 18px;
}


.btn{
    padding: 8px 20px;
    margin: 7px 4px;
    border-radius: 30px;
    background: #7a08ec;
    color: white;
    font-size: 25px;
    text-decoration: none;
}
.btn:hover{
    font-size: 27px;
    transition: 0.3s;
    margin: 0px;
}
.btn-sm{
    font-size: 10px;
    background: none;
    border: 2px solid white;
    padding: 6px 10px;
    vertical-align: middle;
}
.btn-sm:hover{
    font-size: 12px;
    color: gray;
    margin: 0px;
}


/*PRESECTION*/
.section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
}
.section-left{
    flex-direction: row-reverse;
}
.paras{
    padding: 0px 6px;
}

/*---------FONT-----------*/

.font{
    font-family: 'Michroma', sans-serif;
}

.thumbnail img{
    width: 250px;
}

.contact{
    background-color: #4a157e;
    color: white;
    height: 676px;
}
.text-center{
    text-align: center;
    padding-top: 30px;
    font-size: 35px;
}
.form{
    max-width: 500px;
    margin: 25px auto;
}
.form-input{
    margin: 14px 0;
    padding: 5px 3px;
    width: 100%;
    font-size: 19px;
    border: 2px solid blueviolet;
    border-radius: 6px;
}
.text-footer{
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: center;

}


.burger{
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
    display: none;
}
.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 3px 3px;
}


@media only screen and (max-width: 1088px){
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        height: 478px;
        flex-direction: column;
        transition: all 0.7s  ease-out;
    }
    .rightNav{
        text-align: center;
    }
    .burger{
        display: block;
    }

    .h-nav-resp{
        height: 48px;
    }
    .v-class-resp{
        opacity: 0;
    }

    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
        justify-content: center;

    }

    .form{
        max-width: 62%;
    }

    .section{
        flex-direction: column-reverse;
        margin: 30px auto;
    }

    .text-small{
        text-align: center;
    }
    .text-big{
        text-align: center;
    }
    .btn{
        text-align: center;
    }
}